.about{
    padding: 20px 0;

    .about-container{
        width: 80%;
        margin: 0 auto;

        .about-head{
            padding: 10px 0;
        }
        .about-content{
            display: flex;
            justify-content: center;
            text-align: justify;
            flex-wrap: wrap;
           
            
            .content1{
                width: 50%;

                p{
                    font-size: 18px;
                    padding: 10px 0;
                }
                

            }
            .content2{
                width: 50%;
                display: flex;
                justify-content: center;

                img{
                    width: 83%;
                }

            }
            .content3{
                width: 50%;
                display: none;
                p{
                    font-size: 18px;
                    padding: 10px 0;
                }
                

            }
            .content4{
                display: none;
                width: 50%;
                padding-left: 30px;
                p{
                    font-size: 18px;
                    padding: 10px 0;
                }
                

            }

        }

    }
}